/* CartPage.css */
.CartItem-controls{
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 13px;
    text-decoration:none;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    padding: 10px 25px;
    z-index: 10;
  }  
.CartPage-items {
    margin: 0;
    padding: 0;
   }
   .CartPage-items li {
    list-style: none;
   }
   .CartItem-count {
    padding: 5px 10px;
    border: 1px solid #ccc;
   }
   .CartItem-addOne,
   .CartItem-removeOne {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
   }
   .CartItem-addOne {
    border-left: none;
    }
    .CartItem-removeOne {
     border-right: none;
    }
