/* CartPage.css */
.CartPage-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin-top: 2.5%;
}
.CartPage-items {
  position: relative;
  width: 70%;

  margin: 0;

  padding: 0;
}
.CartPage-items ul {
  padding: 0;
}
.CartPage-items li {
  list-style: none;
}
.CartPage-items .Item {
  border-radius: 10px;
  box-shadow: 0 2px 10px black;

  width: 90%;
  flex-direction: row;

  transform: translateX(5%);
  max-height: 130px;
  margin: 0;
  margin-bottom: 20px;

  position: relative;
}
.CartPage-items .Item:before {
  display: none;
}
.CartPage-items .Item .Item-title {
  display: block;
  top: 35%;
  margin: -25px 0 0 -25px;
  opacity: 1;
}
.CartPage-items .Item .Item-image {
  max-width: 140px;
  top: 35%;
  left: 7%;
}
.CartPage-items .Item .CartItem-totalPriceItem {
  position: absolute;
  right: 0;
}
.CartPage-items .Item .CartItem-totalPriceItem span {
  position: relative;
  color: #fff;
  top: 50%;
  right: 50%;
  font-size: 20px;
}
.CartPage-items .Item .CartItem-controls {
  position: absolute;
  top: 60%;
  right: 50%;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  transform-style: preserve-3d;
  margin: -25px 0 0 -25px;
}
.CartPage-items .Item .CartItem-count {
  padding: 5px 10px;
  border: 1px solid #ccc;
}
.CartPage-items .Item .CartItem-addOne {
  border-left: none;
}
.CartPage-items .Item .CartItem-removeOne {
  border-right: none;
}
.CartItem-addOne,
.CartItem-removeOne {
  border: none;
  background: inherit;
  color: #fff;

  padding: 0;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;

  cursor: pointer;
}
.CartPage-checkout {
  display: flex;
  flex-direction: column;

  position: relative;

  width: 25%;
  height: 70vh;
  max-height: 450px;
  min-height: 410px;
  border-radius: 10px;
  background-color: #fff;

  padding: 20px;
}
.CartPage-checkout .CartPage-Totalprice {
  border-bottom: 1px solid #c5c5c5;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-between;
}
.CartPage-checkout .Card-Section .Payment-Type {
  margin-top: 20px;
  display: flex;
}
.CartPage-checkout .Card-Section .Payment-Type label {
  display: inline-flex;
  justify-content: center;
}
.CartPage-checkout .Card-Section .Payment-Type input {
  position: absolute;
  opacity: 0;
  width: 0px;
  height: 0px;
}

.CartPage-checkout .Card-Section .Payment-Type svg {
  cursor: pointer;
  width: 50%;
  height: 50px;
}
.CartPage-checkout .Card-Section .Payment-Type input:checked + svg {
  color: #871d23;
}
.CartPage-checkout .Card-Section span {
  width: 100%;
  display: block;
  margin-top: 20px;
}
.CartPage-checkout .Card-Section h2 {
  font-size: 22px;
}
.CartPage-checkout .Card-Section input {
  width: 100%;
  margin-top: 3px;
  min-height: 40px;
  box-sizing: border-box;
  padding-left: 15px;
  color: #222;
  background-color: #fff;

  outline: none;
  border: 0;
  border: 2px solid #c5c5c5;
  border-radius: 4px;
}
.CartPage-checkout .Card-details {
  display: flex;
  justify-content: space-between;
}
.CartPage-checkout .Card-details span {
  margin-bottom: 20px;
}
.CartPage-checkout .Card-details span:first-child {
  margin-right: 30px;
}
.CartPage-checkout button {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 16px;

  border-style: none;
  border-radius: 5px;
  border-color: #871d23;
  background-color: #871d23;
  color: #fff;

  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .CartPage-container {
    flex-direction: column;
  }
  .CartPage-items {
    width: 100%;
    max-width: 480px;
  }
  .CartPage-items .Item {
    position: relative;
    transform: translateX(0);

    display: flex;
    flex-direction: column;

    width: 90%;
    left: 5%;

    padding: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 2px;
  }
  .CartPage-items .Item::before {
    display: none;
  }
  .CartPage-items .Item .Item-title {
    position: relative;
    top: -10%;
    left: 20%;
    max-width: 300px;
    display: inline-flex;
    opacity: 1;
    word-break: break-all;
  }
  .CartPage-items .Item .Item-image {
    width: 25%;
    top: 50%;
    left: 15%;
  }
  .CartPage-items .Item .CartItem-controls {
    top: 70%;
    right: 40%;
  }
  .CartPage-items .Item .CartItem-totalPriceItem {
    color: #fff;
    font-weight: 800;

    top: 55%;
    right: 0;
  }
  .CartPage-checkout {
    width: 80%;
    transform: translateX(5%);
    border-radius: 5px;
    min-height: 430px;
    margin-bottom: 10px;
  }
  .CartPage-Totalprice {
    font-size: 16px;
    font-weight: 500;
  }
}
