.ItemPage-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
  align-items: center
  }
  .ItemPage-items li {
    
    padding: 20px;
    list-style: none;

  } 