
.App-home{
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 95vh;
  background-color: #131313;
  flex-wrap: wrap;
  transform-style: preserve-3d;
}
@media only screen and (max-width: 600px) {

  .App-home .Item {
    
    font-family: 'Roboto', sans-serif;

    display: flex;
    width: 200px;
    height: 250px;
    margin: 10px;
    left: 100%;
    transform: translateX(-10%);
    
  }

  .App-home .Item .Item-image {
    max-width: 200px;
  }

  .App-home .Item::before {
    background-size: 100% 100%;
    width: 100%; 
    height: 100%;
  }
  .App-home .Item .Item-addToCart {
    font-size: 11px;
    padding: 5px;

  }
  .App-home .Item:hover .Item-addToCart {
    bottom: 10px;
  }


}
