.App-nav {
    background: #871d23;
    padding: 30px;
    border-bottom: 2px solid #100f13;
  }
.App-nav ul {

    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
 .App-nav-item {
    padding: 5px;
    max-width: 200px;
    list-style: none;
    font-size: 24px;
    border-bottom: 4px solid transparent;
  }
.App-nav-item a {
    cursor: pointer;
    color: #FFF;
  }
.App-nav-item a:hover {
    color: #999;
  }
.App-nav-item.selected {
    border-bottom-color: #100f13;
  }
.App-nav-item img{
  position: absolute;
  height: 25px;
  width: 36px ;
}
